.main{
  align-items: center;
}

.containerf {
  width: 325px;
  color:black;
  border-radius: 10px;
  padding: 30px 30px;
  height: 462px;
  background: transparent;
  border: 2px solid;
  background-color:  hsl(107, 17%, 78%);
  margin-left: 153px;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  padding-top: 15px;
}

.form-groupf {
  margin-bottom: 10px;
}

.radio-groupf  {
  display: inline-flex;
  align-items: center;
  margin-left: 1px;
}

.radio-groupf label {
  margin-top: 5px;
}

.radio-groupf input {
  width: 10%;
  padding: 0;
}

.containerf h2{
  justify-content: center;
  color:#29c2a6;
  text-align: center;
  font: bold;
  text-decoration: underline;
  padding-bottom: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

label, p {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

p{
  color:white;
}

input, .relation {
  width: 300px;
  margin-left: 15px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px;
  border-radius: 5px;
}

button {
  display: inline;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: auto;
  border: 1px;
  background:#29c2a6;
  justify-content: left;
  text-align: center;
  margin-left: 55px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

.disp{
  display: grid;
  grid-template-columns: 230px 230px 240px;
  gap:3px;
  row-gap: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display{
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  color:black;
  padding: 6px ;
  height: fit-content;
  background: transparent;
  border: 2px solid;
  background-color:  hsl(107, 17%, 78%);
  margin-left: 560px;
  margin-top: -509px;
  margin-bottom: 525px;
}

.editing{
  background-color: hsl(120, 62%, 96%);
}
 
  
.icon_f_m{
  margin-left: 1px;
  padding-top: 5px;
  display: flex;
}

.icon_f_m span{
  margin-left: 12px;
  font-size: 17px;
  padding-top: 1px;
  margin-bottom: 0px;
}

.dob{
  margin-left: 5px;
  margin-top: 10px;
}

.dob span{
  margin-left: 7px;
  font-size:17px
}

.display h2{
  display:block;
  text-align: center;
  justify-content: center;
  margin-top: auto;
  margin-left: 12px;
  margin-bottom: 5px;
  color: #29c2a6;
  font-size: 20px;
  text-decoration: underline;
}

.display button{
  width: 60px;
  margin-left: 26px;
  margin-top: 15px;
  height: 35px;
}

.swal2-popup{
  box-shadow: 0 3px 20px -10px #4a4a4a;
  background:white;
  height: 215px;
  width: fit-content;
  position: relative;
  margin-left: 470px;
  margin-top: 30px;
  box-shadow: 0 3px 20px -10px #4a4a4a;
  background: white;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  padding: 0 0 1.25em;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swal2-icon {
  height: 50px;
  width:50px;
  margin-top: 20px;
  position: relative;
  justify-content: center;
  margin: 8px auto -9px;
  border: 2px solid white;
  border-color: white;
}

.swal2-title{
  font-size: 17px;
  height: 1px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  padding: 1px;
}

.swal2-cancel, .swal2-confirm{
  width: 135px;
  margin-top: -70px;
  margin-bottom: -55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swal2-success{
  border-color: #a5dc86;
  color: #a5dc86;
  height:70px;
  width: 70px;
  margin-top: 10px;
}